<ion-view title="Contato" id="page4" style="background-color:#CCC5C5;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 32px;"></div>
            <button id="contato-button1" class="button button-stable  button-block">Log in</button>
            <a ui-sref="menu.signup" id="contato-button2" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block button-clear">Ou crie uma conta</a>
        </form>
        <div class="spacer" style="width: 283px; height: 94px;"></div>
        <div id="contato-markdown10" style="color:#000000;text-align:center;">
            <p>Para mais informações acesse: http://etecdrc.com.br/ https://www.facebook.com/EtecDRC https://www.facebook.com/centropaulasouza
            </p>
        </div>
    </ion-content>
</ion-view>