<ion-view title="Home" id="page1" style="background-color:#CCC5C5;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.pGinaInicial" id="home-button8" class="button button-positive  button-block">Página Inicial</a>
        <a ui-sref="menu.produto" id="home-button6" class="button button-positive  button-block">Produto</a>
        <a ui-sref="menu.quemSomos" id="home-button5" class="button button-positive  button-block">Quem Somos</a>
        <a ui-sref="menu.contato" id="home-button7" class="button button-positive  button-block">Contato</a>
    </ion-content>
</ion-view>