<ion-view title="Página Inicial" id="page5" style="background-color:#CCC5C5;">
    <ion-content padding="true" class="has-header">
        <h3 id="pGinaInicial-heading3" style="color:#000000;text-align:center;">Etec Dra.Ruth Cardoso</h3>
        <div>
            <img src="img/GSXP0AMgTV2rAHMWRFg9_etec_saovicente.jpg" width="100%" height="150" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <div id="pGinaInicial-markdown7" style="color:#000000;">
            <p>Nossa escola foi inaugurada em 18/12/2008 pelo governador José Serra.</p>

            <p>Sendo a 8ª unidade do Centro Estadual de Educação Tecnológica Paula Souza na Baixada Santista,implantou o Ensino Médio com 2 classes e 80 alunos, em fevereiro de 2009.</p>

            <p>Somente em outubro de 2009, a instituição de ensino passa a chamar-se ETEC “Doutora Ruth Cardoso”.</p>
        </div>
    </ion-content>
</ion-view>