<ion-view title="Produto" id="page2" style="background-color:#CCC5C5;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/cu2kbvLpSASXK0j64q2e_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 32px;"></div>
        <div id="produto-markdown8" style="color:#000000;">
            <p>O software serve para informar dias e horários de aulas, eventos,etc. Oaplicativoseráútilpara evitartranstornos dentrodoambiente sol</p>
        </div>
    </ion-content>
</ion-view>