<ion-view title="Signup" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Redefinir Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.pGinaInicial" id="signup-button9" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>